@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.header {
    height: 8vh;
    display: flex;
    justify-content: center;
}

.languages {
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.languages img {
    height: 5vh;
    cursor: pointer;
}

.links {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    gap: 5vw;
}

.links a {
    cursor: pointer;
}